<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="NuGet.org v3" value="https://api.nuget.org/v3/index.json" />
    <!--
      dotnet-tools feed is required for restore of RazorLearningTests
      We want to avoid: error NU1101: Unable to find package Microsoft.DiaSymReader.Pdb2Pdb.
     -->
    <!-- <add key="dotnet-tools" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-tools/nuget/v3/index.json" /> -->
  </packageSources>
</configuration>
